body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:0px;
  width:208px;
  height:35px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:0px;
  width:208px;
  height:35px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:0px;
  width:527px;
  height:35px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:523px;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:853px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:73px;
  height:853px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:261px;
  width:19px;
  height:261px;
  font-size:28px;
  text-align:center;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:19px;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:82px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:77px;
  width:83px;
  height:34px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:94px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:155px;
  height:8px;
}
#u136_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u136_seg2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:-9px;
  width:18px;
  height:18px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:153px;
  width:131px;
  height:34px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:153px;
  width:83px;
  height:34px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:170px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:217px;
  height:8px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u139_seg2 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:-9px;
  width:18px;
  height:18px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:111px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u140_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u140_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:18px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:224px;
  width:83px;
  height:34px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:295px;
  width:70px;
  height:31px;
  color:#FFFFFF;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:295px;
  width:70px;
  height:31px;
  color:#FFFFFF;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:295px;
  width:70px;
  height:31px;
  color:#FFFFFF;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background:inherit;
  background-color:rgba(28, 140, 158, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:295px;
  width:70px;
  height:31px;
  color:#FFFFFF;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:187px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u146_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u146_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:258px;
  width:0px;
  height:0px;
}
#u147_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u147_seg1 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:18px;
  width:154px;
  height:8px;
}
#u147_seg2 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:18px;
  width:8px;
  height:19px;
}
#u147_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u147_seg4 {
  border-width:0px;
  position:absolute;
  left:-155px;
  top:25px;
  width:18px;
  height:18px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:258px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u148_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:18px;
  width:154px;
  height:8px;
}
#u148_seg2 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:18px;
  width:8px;
  height:19px;
}
#u148_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u148_seg4 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:25px;
  width:18px;
  height:18px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:258px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u149_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:18px;
  width:56px;
  height:8px;
}
#u149_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:18px;
  width:8px;
  height:19px;
}
#u149_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u149_seg4 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:25px;
  width:18px;
  height:18px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:258px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u150_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:18px;
  width:56px;
  height:8px;
}
#u150_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:18px;
  width:8px;
  height:19px;
}
#u150_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u150_seg4 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:25px;
  width:18px;
  height:18px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:429px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:424px;
  width:101px;
  height:34px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:496px;
  width:101px;
  height:34px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:582px;
  width:101px;
  height:34px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:441px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:418px;
  height:8px;
}
#u155_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u155_seg2 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:-9px;
  width:18px;
  height:18px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:326px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u156_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:25px;
  width:106px;
  height:8px;
}
#u156_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:25px;
  width:8px;
  height:73px;
}
#u156_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u156_seg4 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:86px;
  width:18px;
  height:18px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:326px;
  width:0px;
  height:0px;
}
#u157_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u157_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u157_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:86px;
  width:18px;
  height:18px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:326px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u158_seg1 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:24px;
  width:104px;
  height:8px;
}
#u158_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:24px;
  width:8px;
  height:75px;
}
#u158_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u158_seg4 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:86px;
  width:18px;
  height:18px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:458px;
  width:0px;
  height:0px;
}
#u159_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u159_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u159_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:18px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:530px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u160_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u160_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:665px;
  width:101px;
  height:34px;
  color:#999999;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:616px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u162_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u162_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:18px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:728px;
  width:101px;
  height:34px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:791px;
  width:101px;
  height:34px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:699px;
  width:0px;
  height:0px;
}
#u165_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u165_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u165_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:18px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:762px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u166_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u166_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:18px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:645px;
  width:13px;
  height:19px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:557px;
  width:13px;
  height:19px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:424px;
  width:101px;
  height:34px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:400px;
  width:13px;
  height:19px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:326px;
  width:0px;
  height:0px;
}
#u171_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u171_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u171_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:86px;
  width:18px;
  height:18px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:496px;
  width:71px;
  height:34px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:496px;
  width:71px;
  height:34px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:67px;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:582px;
  width:71px;
  height:34px;
  color:#999999;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:665px;
  width:71px;
  height:34px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:728px;
  width:128px;
  height:34px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:791px;
  width:128px;
  height:34px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:458px;
  width:0px;
  height:0px;
}
#u178_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u178_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:18px;
  width:56px;
  height:8px;
}
#u178_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:18px;
  width:8px;
  height:20px;
}
#u178_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u178_seg4 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:26px;
  width:18px;
  height:18px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:458px;
  width:0px;
  height:0px;
}
#u179_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u179_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:18px;
  width:46px;
  height:8px;
}
#u179_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:18px;
  width:8px;
  height:20px;
}
#u179_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u179_seg4 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:26px;
  width:18px;
  height:18px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:530px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u180_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u180_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:616px;
  width:0px;
  height:0px;
}
#u181_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u181_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u181_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:18px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:699px;
  width:0px;
  height:0px;
}
#u182_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u182_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:10px;
  width:56px;
  height:8px;
}
#u182_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:10px;
  width:8px;
  height:19px;
}
#u182_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u182_seg4 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:17px;
  width:18px;
  height:18px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:762px;
  width:0px;
  height:0px;
}
#u183_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u183_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u183_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:18px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:530px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:184px;
}
#u184_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:176px;
  width:46px;
  height:8px;
}
#u184_seg2 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:176px;
  width:8px;
  height:22px;
}
#u184_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u184_seg4 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:186px;
  width:18px;
  height:18px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:2px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:891px;
  width:1029px;
  height:1px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:892px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:0px;
  width:1px;
  height:891px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:2px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:378px;
  width:956px;
  height:1px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:2px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:1px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:854px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:853px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:2px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:956px;
  height:1px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:854px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:1px;
  height:853px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:802px;
  width:41px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:838px;
  width:215px;
  height:34px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:211px;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:825px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:-369px;
  top:26px;
  width:373px;
  height:8px;
}
#u194_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u194_seg3 {
  border-width:0px;
  position:absolute;
  left:-375px;
  top:21px;
  width:18px;
  height:18px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:-220px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:825px;
  width:0px;
  height:0px;
}
#u195_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u195_seg1 {
  border-width:0px;
  position:absolute;
  left:-563px;
  top:26px;
  width:567px;
  height:8px;
}
#u195_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u195_seg3 {
  border-width:0px;
  position:absolute;
  left:-569px;
  top:21px;
  width:18px;
  height:18px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:-316px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:582px;
  width:101px;
  height:34px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:802px;
  width:0px;
  height:0px;
}
#u197_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-186px;
  width:8px;
  height:190px;
}
#u197_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u197_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-192px;
  width:18px;
  height:18px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-101px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:582px;
  width:0px;
  height:0px;
}
#u198_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-130px;
  width:8px;
  height:134px;
}
#u198_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u198_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-136px;
  width:18px;
  height:18px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
