body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:667px;
  width:455px;
  height:113px;
  color:#CCCCCC;
}
#u2827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:654px;
  width:97px;
  height:28px;
}
#u2828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u2829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:275px;
  height:36px;
}
#u2829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u2830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:0px;
  width:219px;
  height:36px;
}
#u2830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u2831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:0px;
  width:344px;
  height:36px;
}
#u2831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:340px;
  word-wrap:break-word;
}
#u2832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:69px;
  width:139px;
  height:34px;
}
#u2832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:710px;
  width:35px;
  height:35px;
}
#u2833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:142px;
  width:57px;
  height:17px;
  text-decoration:underline;
  color:#999999;
}
#u2834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:169px;
  width:57px;
  height:17px;
  text-decoration:underline;
  color:#999999;
}
#u2835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:2px;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:1px;
}
#u2836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1386px;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1px;
  height:1385px;
}
#u2837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:2px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1385px;
  width:862px;
  height:1px;
}
#u2838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1387px;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:1px;
  height:1386px;
}
#u2839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:157px;
  width:139px;
  height:34px;
}
#u2840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:157px;
  width:139px;
  height:34px;
}
#u2841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:103px;
  width:0px;
  height:0px;
}
#u2842_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u2842_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2842_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:18px;
}
#u2842_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:64px;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:305px;
  width:139px;
  height:64px;
}
#u2843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:135px;
  word-wrap:break-word;
}
#u2844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:320px;
  width:139px;
  height:34px;
}
#u2844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:69px;
  width:84px;
  height:34px;
}
#u2845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u2846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:69px;
  width:84px;
  height:34px;
}
#u2846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:103px;
  width:0px;
  height:0px;
}
#u2847_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u2847_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:17px;
  width:88px;
  height:8px;
}
#u2847_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:17px;
  width:8px;
  height:38px;
}
#u2847_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2847_seg4 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:42px;
  width:18px;
  height:18px;
}
#u2847_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:103px;
  width:0px;
  height:0px;
}
#u2848_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u2848_seg1 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:16px;
  width:81px;
  height:8px;
}
#u2848_seg2 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:16px;
  width:8px;
  height:38px;
}
#u2848_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2848_seg4 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:42px;
  width:18px;
  height:18px;
}
#u2848_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:228px;
  width:139px;
  height:46px;
}
#u2849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:191px;
  width:0px;
  height:0px;
}
#u2850_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u2850_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2850_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u2850_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:515px;
  width:139px;
  height:46px;
}
#u2851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:274px;
  width:0px;
  height:0px;
}
#u2852_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u2852_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2852_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:18px;
}
#u2852_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:228px;
  width:139px;
  height:46px;
}
#u2853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:191px;
  width:0px;
  height:0px;
}
#u2854_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u2854_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2854_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u2854_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:251px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u2855_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:433px;
  height:8px;
}
#u2855_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2855_seg2 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2855_text {
  border-width:0px;
  position:absolute;
  left:164px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:515px;
  width:139px;
  height:46px;
}
#u2856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:337px;
  width:0px;
  height:0px;
}
#u2857_seg0 {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:-4px;
  width:164px;
  height:8px;
}
#u2857_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2857_seg2 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2857_text {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:538px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u2858_seg0 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-4px;
  width:134px;
  height:8px;
}
#u2858_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2858_seg2 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2858_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:515px;
  width:139px;
  height:46px;
}
#u2859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:538px;
  width:0px;
  height:0px;
  font-size:13px;
}
#u2860_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:164px;
  height:8px;
}
#u2860_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2860_seg2 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2860_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:710px;
  width:35px;
  height:35px;
}
#u2862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:715px;
  width:26px;
  height:26px;
}
#u2863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:710px;
  width:35px;
  height:35px;
}
#u2865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:712px;
  width:30px;
  height:30px;
}
#u2866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:720px;
  width:53px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u2867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:720px;
  width:53px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u2868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:561px;
  width:0px;
  height:0px;
}
#u2869_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u2869_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:42px;
  width:277px;
  height:8px;
}
#u2869_seg2 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:42px;
  width:8px;
  height:52px;
}
#u2869_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2869_seg4 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:81px;
  width:18px;
  height:18px;
}
#u2869_text {
  border-width:0px;
  position:absolute;
  left:86px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:561px;
  width:0px;
  height:0px;
}
#u2870_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u2870_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2870_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:81px;
  width:18px;
  height:18px;
}
#u2870_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:561px;
  width:0px;
  height:0px;
}
#u2871_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u2871_seg1 {
  border-width:0px;
  position:absolute;
  left:-303px;
  top:41px;
  width:307px;
  height:8px;
}
#u2871_seg2 {
  border-width:0px;
  position:absolute;
  left:-303px;
  top:41px;
  width:8px;
  height:52px;
}
#u2871_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2871_seg4 {
  border-width:0px;
  position:absolute;
  left:-308px;
  top:81px;
  width:18px;
  height:18px;
}
#u2871_text {
  border-width:0px;
  position:absolute;
  left:-201px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:599px;
  width:83px;
  height:18px;
  font-size:9px;
}
#u2872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u2873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:598px;
  width:83px;
  height:18px;
  font-size:9px;
}
#u2873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u2874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:851px;
  width:139px;
  height:34px;
}
#u2874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:851px;
  width:139px;
  height:34px;
}
#u2875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:1054px;
  width:139px;
  height:34px;
}
#u2876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:65px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:929px;
  width:139px;
  height:65px;
}
#u2877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:135px;
  word-wrap:break-word;
}
#u2878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1054px;
  width:75px;
  height:34px;
}
#u2878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  word-wrap:break-word;
}
#u2879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:945px;
  width:139px;
  height:34px;
}
#u2879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:868px;
  width:0px;
  height:0px;
}
#u2880_seg0 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:-4px;
  width:155px;
  height:8px;
}
#u2880_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2880_seg2 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2880_text {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:885px;
  width:0px;
  height:0px;
}
#u2881_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u2881_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2881_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u2881_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:994px;
  width:0px;
  height:0px;
}
#u2883_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u2883_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2883_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u2883_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1018px;
  width:30px;
  height:18px;
  font-size:9px;
}
#u2884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:962px;
  width:0px;
  height:0px;
}
#u2886_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:155px;
  height:8px;
}
#u2886_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2886_seg2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2886_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:953px;
  width:30px;
  height:18px;
  font-size:9px;
}
#u2887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:945px;
  width:0px;
  height:0px;
}
#u2888_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-46px;
  width:8px;
  height:46px;
}
#u2888_seg1 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-46px;
  width:174px;
  height:8px;
}
#u2888_seg2 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-81px;
  width:8px;
  height:43px;
}
#u2888_seg3 {
  border-width:0px;
  position:absolute;
  left:-221px;
  top:-81px;
  width:60px;
  height:8px;
}
#u2888_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u2888_seg5 {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:-86px;
  width:18px;
  height:18px;
}
#u2888_text {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1071px;
  width:0px;
  height:0px;
}
#u2889_seg0 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-4px;
  width:115px;
  height:8px;
}
#u2889_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2889_seg2 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2889_text {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1054px;
  width:139px;
  height:34px;
}
#u2890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1071px;
  width:0px;
  height:0px;
}
#u2891_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:193px;
  height:8px;
}
#u2891_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2891_seg2 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2891_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1155px;
  width:139px;
  height:34px;
}
#u2892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1249px;
  width:139px;
  height:34px;
}
#u2893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1249px;
  width:139px;
  height:34px;
}
#u2894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1189px;
  width:0px;
  height:0px;
}
#u2895_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u2895_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2895_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u2895_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1172px;
  width:0px;
  height:0px;
}
#u2896_seg0 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-4px;
  width:213px;
  height:8px;
}
#u2896_seg1 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-4px;
  width:8px;
  height:81px;
}
#u2896_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2896_seg3 {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:65px;
  width:18px;
  height:18px;
}
#u2896_text {
  border-width:0px;
  position:absolute;
  left:-193px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1324px;
  width:139px;
  height:34px;
  color:#FFFFFF;
}
#u2897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:1324px;
  width:139px;
  height:34px;
  color:#FFFFFF;
}
#u2898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1283px;
  width:0px;
  height:0px;
}
#u2899_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u2899_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2899_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u2899_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1283px;
  width:0px;
  height:0px;
}
#u2900_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u2900_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2900_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u2900_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1249px;
  width:139px;
  height:34px;
}
#u2901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1155px;
  width:139px;
  height:34px;
}
#u2902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1324px;
  width:139px;
  height:34px;
  color:#FFFFFF;
}
#u2903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1189px;
  width:0px;
  height:0px;
}
#u2904_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u2904_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2904_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u2904_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1283px;
  width:0px;
  height:0px;
}
#u2905_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u2905_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u2905_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u2905_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1172px;
  width:0px;
  height:0px;
}
#u2906_seg0 {
  border-width:0px;
  position:absolute;
  left:-376px;
  top:-4px;
  width:380px;
  height:8px;
}
#u2906_seg1 {
  border-width:0px;
  position:absolute;
  left:-382px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2906_text {
  border-width:0px;
  position:absolute;
  left:-238px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1088px;
  width:0px;
  height:0px;
}
#u2907_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u2907_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:18px;
}
#u2907_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:440px;
  width:139px;
  height:34px;
}
#u2908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:369px;
  width:0px;
  height:0px;
}
#u2909_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:92px;
}
#u2909_seg1 {
  border-width:0px;
  position:absolute;
  left:-230px;
  top:84px;
  width:234px;
  height:8px;
}
#u2909_seg2 {
  border-width:0px;
  position:absolute;
  left:-236px;
  top:79px;
  width:18px;
  height:18px;
}
#u2909_text {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:474px;
  width:0px;
  height:0px;
}
#u2910_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u2910_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u2910_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:314px;
  width:139px;
  height:46px;
}
#u2911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:337px;
  width:0px;
  height:0px;
}
#u2912_seg0 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-4px;
  width:126px;
  height:8px;
}
#u2912_seg1 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2912_text {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:385px;
  width:139px;
  height:46px;
}
#u2913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:780px;
  width:0px;
  height:0px;
}
#u2914_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u2914_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:28px;
  width:295px;
  height:8px;
}
#u2914_seg2 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:28px;
  width:8px;
  height:44px;
}
#u2914_seg3 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:59px;
  width:18px;
  height:18px;
}
#u2914_text {
  border-width:0px;
  position:absolute;
  left:98px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:354px;
  width:0px;
  height:0px;
}
#u2915_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u2915_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:50px;
  width:147px;
  height:8px;
}
#u2915_seg2 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:45px;
  width:18px;
  height:18px;
}
#u2915_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:196px;
  width:57px;
  height:17px;
  text-decoration:underline;
  color:#999999;
}
#u2916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:625px;
  width:57px;
  height:17px;
  color:#FF0000;
}
#u2917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:626px;
  width:57px;
  height:17px;
  color:#FF0000;
}
#u2918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:625px;
  width:57px;
  height:17px;
  color:#FF0000;
}
#u2919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:135px;
  width:57px;
  height:17px;
  text-decoration:underline;
  color:#999999;
}
#u2920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:162px;
  width:57px;
  height:17px;
  text-decoration:underline;
  color:#999999;
}
#u2921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:189px;
  width:57px;
  height:17px;
  text-decoration:underline;
  color:#999999;
}
#u2922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:329px;
  width:76px;
  height:17px;
  text-decoration:underline;
  color:#999999;
}
#u2923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u2924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:129px;
  width:21px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u2924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:136px;
  width:21px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u2925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:69px;
  width:117px;
  height:33px;
  font-size:14px;
  color:#FF0000;
}
#u2926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
