body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:702px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:375px;
  height:702px;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 123, 162, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:30px;
  width:64px;
  height:26px;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:14px;
  width:1px;
  height:16px;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:34px;
  width:159px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:155px;
  word-wrap:break-word;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:375px;
  height:20px;
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:63px;
  width:375px;
  height:1px;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:33px;
  width:20px;
  height:20px;
}
#u1836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:39px;
  width:8px;
  height:8px;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:40px;
  width:8px;
  height:8px;
}
#u1838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:41px;
  width:5px;
  height:5px;
}
#u1839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:41px;
  width:5px;
  height:5px;
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:34px;
  width:12px;
  height:20px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:71px;
  width:360px;
  height:127px;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:94px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:90px;
  width:70px;
  height:94px;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:90px;
  width:83px;
  height:16px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 123, 162, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 123, 162, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#007BA2;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:88px;
  width:68px;
  height:20px;
  color:#007BA2;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u1848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:122px;
  width:183px;
  height:16px;
}
#u1848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:148px;
  width:250px;
  height:16px;
}
#u1849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:174px;
  width:41px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.729411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:164px;
  width:70px;
  height:20px;
}
#u1851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:169px;
  width:47px;
  height:11px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u1852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:174px;
  width:206px;
  height:16px;
}
#u1853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:208px;
  width:360px;
  height:127px;
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:94px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:227px;
  width:70px;
  height:94px;
}
#u1856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:227px;
  width:83px;
  height:16px;
}
#u1857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 123, 162, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 123, 162, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#007BA2;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:225px;
  width:68px;
  height:20px;
  color:#007BA2;
}
#u1858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u1859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:259px;
  width:183px;
  height:16px;
}
#u1859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:285px;
  width:250px;
  height:16px;
}
#u1860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u1861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:311px;
  width:41px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.729411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:301px;
  width:70px;
  height:20px;
}
#u1862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:306px;
  width:47px;
  height:11px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u1863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:311px;
  width:206px;
  height:16px;
}
#u1864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:345px;
  width:360px;
  height:127px;
}
#u1866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:94px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:364px;
  width:70px;
  height:94px;
}
#u1867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:364px;
  width:83px;
  height:16px;
}
#u1868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 123, 162, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 123, 162, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#007BA2;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:362px;
  width:68px;
  height:20px;
  color:#007BA2;
}
#u1869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u1870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:396px;
  width:183px;
  height:16px;
}
#u1870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:422px;
  width:250px;
  height:16px;
}
#u1871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u1872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:448px;
  width:41px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.729411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:438px;
  width:70px;
  height:20px;
}
#u1873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:443px;
  width:47px;
  height:11px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u1874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:448px;
  width:206px;
  height:16px;
}
#u1875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:482px;
  width:360px;
  height:127px;
}
#u1877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:94px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:501px;
  width:70px;
  height:94px;
}
#u1878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:501px;
  width:83px;
  height:16px;
}
#u1879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 123, 162, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 123, 162, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#007BA2;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:499px;
  width:68px;
  height:20px;
  color:#007BA2;
}
#u1880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u1881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:533px;
  width:183px;
  height:16px;
}
#u1881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:559px;
  width:250px;
  height:16px;
}
#u1882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u1883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:585px;
  width:41px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u1883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.729411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:575px;
  width:70px;
  height:20px;
}
#u1884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:580px;
  width:47px;
  height:11px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u1885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:585px;
  width:206px;
  height:16px;
}
#u1886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
