body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1059px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:39px;
  width:563px;
  height:64px;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u3984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:152px;
  width:558px;
  height:64px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  word-wrap:break-word;
}
#u3985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:261px;
  width:558px;
  height:32px;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  word-wrap:break-word;
}
#u3986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:343px;
  width:544px;
  height:80px;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  word-wrap:break-word;
}
#u3987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:54px;
  width:113px;
  height:34px;
  font-size:28px;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:167px;
  width:113px;
  height:34px;
  font-size:28px;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:260px;
  width:113px;
  height:34px;
  font-size:28px;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:366px;
  width:113px;
  height:34px;
  font-size:28px;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:501px;
  width:113px;
  height:34px;
  font-size:28px;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:632px;
  width:113px;
  height:34px;
  font-size:28px;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:470px;
  width:544px;
  height:48px;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  word-wrap:break-word;
}
#u3994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:577px;
  width:544px;
  height:80px;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  word-wrap:break-word;
}
